<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoリストの確認</title>
</head>
<body>
    <h1>Todo一覧</h1>
    <div class="container mt-5">
        <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <ul>
                {% for todo in todos[1:] %}
                <li>
                    タスク: {{ todo.task }} <br>
                    {% if todo.detail is not none %}
                        詳細: {{ todo.detail}} <br>
                    {% endif %}
                    {% if todo.detail is not none %}
                        期限： {{ todo.limit }} <br>
                    {% endif %}
                    
                    {{ form.edit(class="btn btn-primary") }} 
                </li>
                {% endfor %}
            </ul>
        </div>
        </form>
    </div>
    
</body>
</html>