<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuralNine Todo App</title>
</head>
<body>
    <h1>タスク登録</h1>
    <form action="/submit" method="POST">
        <label>タスク名：</label>
        <input type="text" name="username"><br><br>
        <label>詳細：</label>
        <input type="text" name="detail"><br><br>
        <button type="submit">送信</button>
    </form>

</body>
</html>